{% extends 'base.html' %}
{% load crispy_forms_tags %}

<title> {% block title %} Login Page {% endblock title %}</title>
{% block content %}
<h3>
  Login
</h3>

<div class="row">
    <div class="col-4">
        <form method="post">
           {% csrf_token %}
            {{ login_form | crispy }}
        <button class="btn btn-primary" type="submit">Log in</button> <span class="ms-3"> Are you not registerd yet ? <a href="{% url "users:register" %}"> Get register</a></span>
</form>
    </div>
</div>
 {% endblock %}